/* Sicherstellen, dass die Container in mobilen Ansichten 100% breit sind */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border zur Breite zählen */
}

/* Breite der Abschnitte auf 100% setzen */
#features,
#about,
#services,
#testimonials,
#team,
#contact,
#footer,
#portfolio {
  width: 100%;
}

/* Vermeidung von horizontalem Scrollen */
body {
  overflow-x: hidden;
}

/* Stile für das Bild */
.img-responsive {
  max-width: 100%; /* Bildgröße auf 100% der Container-Breite beschränken */
  height: auto; /* Höhe automatisch anpassen, um die Proportionen beizubehalten */
  display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
  margin: 0 auto; /* Zentriert das Bild innerhalb des Containers */
}

/* Stile für die Header-Sektion */
#header {
  width: 100%;
  height: 100vh; /* Höhe auf 100% des Viewports setzen */
  overflow: hidden; /* Verhindert Überlauf */
  background-image: url("../public/img/intro-bg.jpg"); /* Desktop Hintergrundbild */
  background-position: center; /* Bild zentrieren */
  background-size: cover; /* Bild skaliert, um den gesamten Bereich zu bedecken */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Hintergrunds */
  position: relative; /* Für das Overlay */
  transition: background-size 0.3s ease; /* Sanfter Übergang für die Hintergrundgröße */
}

/* Overlay für besseren Kontrast */
.overlay {
  position: absolute; /* Absolute Positionierung innerhalb des Headers */
  top: 0; /* Oben ansetzen */
  left: 0; /* Links ansetzen */
  right: 0; /* Rechts ansetzen */
  bottom: 0; /* Unten ansetzen */
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Halbtransparentes Schwarz für besseren Kontrast */
  z-index: 0; /* Oberhalb des Hintergrundbildes */
}

/* Sicherstellen, dass der Header-Titel und Paragraph weiß sind */
header .intro-text h1 {
  color: #ffffff; /* Weiß für den Titel */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  position: relative; /* Damit der Text über dem Overlay liegt */
  z-index: 2; /* Über dem Overlay */
}

header .intro-text p {
  color: #fffffa; /* Weiß für den Paragraph */
  text-shadow: 1px 1px 3px rgba(0, 0, 0);
  position: relative; /* Damit der Text über dem Overlay liegt */
  z-index: 2; /* Über dem Overlay */
}

/* Stile für die Navigation */
#menu {
  width: 100%;
  background: #fff; /* Beispiel Hintergrundfarbe */
  border-bottom: 1px solid #ddd; /* Beispiel Rand */
}

.navbar {
  margin-bottom: 0; /* Entfernt zusätzlichen Margin */
  border: none; /* Entfernt die Border */
}

.navbar-header {
  float: none; /* Verhindert, dass Header-Elemente floaten */
}

.navbar-toggle {
  margin-top: auto; /* Abstand oben für den Toggle-Button */
}

.navbar-brand {
  font-size: 1.5em; /* Schriftgröße für das Logo */
}

.navbar-collapse {
  text-align: center; /* Zentriert Navigation links */
}

.navbar-nav {
  margin: 0; /* Entfernt Margin für Navigationselemente */
  padding: 0; /* Entfernt zusätzliches Padding */
}

.navbar-nav > li {
  display: inline-block; /* Listenelemente nebeneinander anzeigen */
  margin: 0; /* Entfernt Margin */
}

.navbar-nav > li > a {
  padding: 15px 20px; /* Padding für Links */
  font-size: 1em; /* Schriftgröße für Links */
}

/* Responsive Anpassungen */
@media screen and (max-width: 768px) {
  #header {
    background-image: url("../public/img/intro-bg-mobil.jpg"); /* Neues Hintergrundbild für mobile Ansichten */
    height: 100vh; /* Höhe auf 100% des Viewports setzen */
    background-position: center; /* Bild zentrieren */
    background-size: cover; /* Bild skaliert, um den gesamten Bereich zu bedecken */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Hintergrunds */
  }

  .intro h1 {
    font-size: 2em;
  }

  .intro p {
    font-size: 1em;
  }

  .intro .btn {
    font-size: 0.9em;
  }

  .navbar-brand {
    font-size: 1.3em;
  }

  .navbar-nav > li > a {
    padding: 10px 15px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 400px) {
  .intro h1 {
    font-size: 1.5em;
  }

  .intro p {
    font-size: 0.9em;
  }

  .intro .btn {
    font-size: 0.8em;
  }

  .navbar-brand {
    font-size: 1.2em;
  }

  .navbar-nav > li > a {
    font-size: 0.9em; /* Schriftgröße für Links */
    display: inline-block; /* Stellt sicher, dass der Button nicht unerwartet umbrochen wird */
  }

  .navbar-nav {
    margin: 0; /* Entfernt zusätzlichen Margin */
    padding: 0; /* Entfernt zusätzliches Padding */
  }

  .navbar-collapse {
    padding: 0; /* Entfernt zusätzliches Padding in der zusammenklappbaren Navbar */
  }
}
